# ASSIGNMENT-2 Data Types

#    1. Construct 2 lists containing all the available data types (integer, float, string, complex and Boolean) and do the following.
        a. Create another list by concatenating above 2 lists
        b. Find the frequency of each element in the concatenated list.
        c. Print the list in reverse order.

In [73]:
lis1 = [1,2,2.3,"Swati",True,complex(3,6)]
lis2 = [5,4,6.7,"fruits",False,complex(9,6)]

In [74]:
lis3 = lis1 + lis2

In [75]:
print(lis3)

[1, 2, 2.3, 'Swati', True, (3+6j), 5, 4, 6.7, 'fruits', False, (9+6j)]

In [82]:
dic = {}
for i in lis3:
    #dic.update({i:lis3.count(i)})
    dic[i] = lis3.count(i)

In [83]:
dic

{1: 2,
 2: 1,
 2.3: 1,
 'Swati': 1,
 (3+6j): 1,
 5: 1,
 4: 1,
 6.7: 1,
 'fruits': 1,
 False: 1,
 (9+6j): 1}

In [60]:
lis3.reverse()

In [61]:
lis3

[(3+6j), False, 'fruits', 6.7, 4, 5, (3+6j), True, 'Swati', 2.3, 2, 1]

# 2. Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)
a. Find the common elements in above 2 Sets.
b. Find the elements that are not common.
c. Remove element 7 from both the Sets.

In [45]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12,13,14,15}

In [46]:
x = set1.intersection(set2)

In [47]:
print(x)

{5, 6, 7, 8, 9, 10}

In [48]:
z = set1.symmetric_difference(set2)

In [49]:
print(z)

{1, 2, 3, 4, 11, 12, 13, 14, 15}

In [50]:
set1.remove(7)

In [53]:
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [54]:
set2.remove(7)

In [56]:
print(set2)

{5, 6, 8, 9, 10, 11, 12, 13, 14, 15}

# create a data dictionary of 5 states having state name as key and number of covid-19 cases as values.
a. Print only state names from the dictionary.
b. Update another country and itâ€™s covid-19 cases in the dictionary.

In [84]:
dic1 = {"Maharastra":500,"West Bengal":100,"Bihar":256,"Karnataka":321,"Gujrat":789}

In [85]:
dic1.keys()

dict_keys(['Maharastra', 'West Bengal', 'Bihar', 'Karnataka', 'Gujrat'])

In [86]:
dic1["China"] = 10000

In [87]:
print(dic1)

{'Maharastra': 500, 'West Bengal': 100, 'Bihar': 256, 'Karnataka': 321, 'Gujrat': 789, 'China': 10000}